body {
    margin: 0px;
    padding: 0x;
    font-family: 'Playfair Display', serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    align-items: center;
    padding-right: 2%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header p {
    font-size: 600%;
    margin: 0px;
    padding: 0px;
}

.links {
    margin-right:5%;
    text-align: right;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 120%;
}

.image{
    width: 50%;
}

.image img{
    width:50%;
    object-fit: cover;
    position: fixed;
}

.container{
    display: flex;
    margin-top:8%;
}
hr{
    background-color:black;
    height:2px;
    border:none;
}
.food-item{
    margin-left:3%;
    width:40%;
}

.title{
    font-size: 400%;
    margin-bottom:0px;
    margin-top:0px;
}

.ititle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.ititle input {
    margin-left: 0;
    width: 50px;
}

.desc{
    padding:0px;
    margin:0px;
}

button{
    margin-top:5%;
    padding:1%;
    width:100%;
    font-size: larger;
}