body {
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    align-items: center;
    padding-right: 2%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

header p {
    font-size: 600%;
    margin: 0px;
    padding: 0px;
}

.links {
    margin-right: 5%;
    text-align: right;
}

.links a {
    text-decoration: none;
    color: black;
    font-size: 120%;
}
.image {
    width: 50%;
    height:100%;
}

.image img {
    width: 50%;
    object-fit:fill;
    position: fixed;
    height: 100%;
}

.container {
    display: flex;
    margin-top: 8%;
    height:85vh;
}

.reservation-form{
    margin-left:5%;
    width:40%;
}

h2{
    margin-top:7%;
}

hr {
    background-color: black;
    height: 2px;
    border: none;
    margin-bottom:4%;
}

.userdetails input{
    margin-top:1%;
    width:95%;
    padding:2%;
    margin-bottom:1%;
}

.userdetails button{
    margin-top: 5%;
    width: 100%;
    padding: 2%;
    margin-bottom: 10%;
}