body{
    margin:0px;
    padding:0px;
    font-family: 'Playfair Display', serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left:2%;
    align-items: center;
    padding-right:2%;
    height:15vh;
}
header p{
    font-size:600% ;
    margin:0px;
    padding:0px;
}

.links{
    margin-right:1%;
    text-align: right;
}

.links a{
    text-decoration: none;
    color:black;
    font-size: 120%;
}

img{
    width:100%;
    object-fit: cover;
    height:85vh;
}